venv/*
.idea/*
__pycache__/*
.DS_Store

#dataset/.idea/*
#dataset/__pycache__/*
#dataset/.DS_Store
#
#utils/.idea/*
#utils/__pycache__/*
#utils/.DS_Store

*.npy
*.png
*.ipynb
test_check.py
#test_*.py
log*.txt
*.xlsx
*.sh
log*.csv
one_time*

test.py


wandb/*
save_model/*